

$ga-white: #fff;
$layout-bg: #F6F7F8;
$text-color: #525A6B;
$lightprimary: #FFD2BD;
$ga-black: #000;
$matinputBshadow: #FFE3D7;
$matinputThick: #ff69245b;
$color-red: red;
$primary: (
  100: #FFF2F0,
  200: #FFC7BD,
  300: #FF9D8A,
  400: #FF7257,
  500: #FF4724,
  600: #F02700,
  700: #BD1F00,
  act:#FF6924,
  hov:#FF8C57
);
$secondary: (
  100: #F6F7F8,
  200: #DADCE2,
  300: #BDC2CC,
  400: #A0A7B6,
  500: #838CA0,
  600: #687288,
  700: #525A6B,
  temp: #EBECEF,
);
$success: (
  100: #F0F9FF,
  200: #BDE7FF,
  300: #8AD5FF,
  400: #57C2FF,
  500: #24B0FF,
  600: #0099F0,
  700: #0079BD,
);
$info: (
  100: #F6F0FF,
  200: #DABDFF,
  300: #BD8AFF,
  400: #A057FF,
  500: #8324FF,
  600: #6800F0,
  700: #5200BD,
);
$rgb-green: (
  100: #F0FFF6,
  200: #BDFFD8,
  300: #8AFFBA,
  400: #57FF9C,
  500: #24FF7E,
  600: #00F063,
  700: #00BD4E,
  temp: #27D870,
);
$rgb-yellow: (
  100: #FFF3F0,
  200: #FFF0BD,
  300: #FFE58A,
  400: #FFDA57,
  500: #FFCF24,
  600: #F0BB00,
  700: #BD9300,
  temp: #F9CE37,
);
