$margins:(
    0:0,
    1: 2px,
    2: 4px,
    3: 8px,
    4: 16px,
    5: 32px,
);
$paddings:(
    0:0,
    1: 2px,
    2: 4px,
    3: 8px,
    4: 16px,
    5: 32px,
);
$fontSizes:(
    14: .7rem,
    16: .75rem,
    24: 1.25rem,
    36: 1.75rem,
);