@import "../variables/colors.variables.scss";
.mainbtn{
    display: inline-block;
    font-weight: 400;
    // line-height: 1.5;
    // color: #212529;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    outline: none;
    // padding: 0.375rem .75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 8px 14px;
    // width: 76px;
    // height: 36px;
}
.ga-primary{
    background-color: map-get($primary, 500);
}
.ga-btn-primary{
    @extend .mainbtn;
    background-color: map-get($primary, 500) !important;
    color: white;
    border: none;
    border: 1px solid map-get($primary, 500) !important;
    &:active{
        transform: translateY(1px);
        background-color: map-get($primary, act) !important;
    }
    &:hover{
        background-color: map-get($primary, hov) !important;
        border: 1px solid map-get($primary, hov) !important;

    }
    &:disabled{
        background-color: $lightprimary !important;
        border: 1px solid $lightprimary !important;
    }
}
.ga-btn-primary-text{
    @extend .mainbtn;
    background-color: transparent !important;
    color: map-get($primary, 500) !important;
    border: none;
    border: 1px solid map-get($primary, 500) !important;
    &:active{
        transform: translateY(1px);
        // background-color: map-get($primary, act) !important;
    }
    &:hover{
        // background-color: map-get($primary, hov) !important;
        border: 1px solid map-get($primary, hov) !important;

    }
    &:disabled{
        // background-color: $lightprimary !important;
        border: 1px solid $lightprimary !important;
    }
}
.ga-btn-secondary{
    @extend .mainbtn;
    background: $layout-bg !important;
    color: $text-color;
    border: none;
    border: 1px solid $text-color !important;
    &:active{
        transform: translateY(1px);
        color: $text-color;
    }
    &:hover{
        background: $layout-bg !important;
        border: 1px solid map-get($secondary, 300) !important;

    }
    &:disabled{
        background: $layout-bg !important;
        color: map-get($secondary, 300) !important;        
        border: 1px solid map-get($secondary, 300) !important;
        cursor:not-allowed;
    }
}

.ga-btn{
    @extend .mainbtn;
    border: none;
}

.ga-btn-b{
    @extend .mainbtn;
    border: .5px solid $ga-black;
}