#basicForm{
    // text-align: center;
    table{
        margin-left: auto; 
        margin-right: auto;        
        tr{
            td{
                padding: 10px;
                mat-form-field{
                    // min-width: 320px;
                }
            }
        }
    }
    
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     background-color: white;
//     border-radius: 5px;
// }
// ::ng-deep.mat-form-field-wrapper{
//     padding: 0;
//     margin: 1.34375em;
// }
