// ::ng-deep.mat-horizontal-stepper-header-container{
//     // width: 50%;
//     // display: block;

// }
// mat-error{
//     padding: 1.34375em 0px;
// }
// ::ng-deep.mat-form-field-wrapper{
//     padding: 0;
//     margin: 1.34375em;
// }

// ::ng-deep.mat-step-header{
//     display: block;
//     text-align: -webkit-center !important;
//     text-align: center;
// }
// ::ng-deep.mat-stepper-horizontal{
//     background-color: inherit;
// }
// ::ng-deep.mat-horizontal-stepper-header .mat-step-icon{
//     // background-color: white;
//     // border: 2px solid #ff6924;
//     font-size: 9px;
//     // background-color: #ff6924;

// }
// ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:hover{
//     background-color: inherit;
// }
// ::ng-deep.mat-horizontal-content-container {
//     margin-top: 50px;
//     // text-align: center;
// }
// ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon{
//     // width: 18px;
//     // height: 18px;
//     // color: #ff6924;
// }
// ::ng-deep.mat-stepper-label-position-bottom .mat-stepper-horizontal-line, ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after,::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before{
//     // top: 31px;
//     // background-color: #ff6924;
// }
// ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after{
//     width: calc(57% - 20px) !important;
// }
// ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before{
//     width: calc(60% - 18px) !important;
// }
// form{
//     text-align: center;
//     mat-form-field{
//         width: 60%;
//     }
// }


// ::ng-deep.mat-form-field-appearance-outline:disabled .mat-form-field-outline:disabled {
//     background-color: rgb(185, 15, 15);
// }
#basicForm{
    // text-align: center;
    table{
        margin-left: auto; 
        margin-right: auto;        
        tr{
            td{
                padding: 10px;
                // mat-form-field{
                //     // min-width: 320px;
                // }
            }
        }
    }
    
}
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     background-color: white;
//     border-radius: 5px;
// }
// ::ng-deep.mat-form-field-wrapper{
//     padding: 0;
//     margin: 1.34375em;
// }
// mat-error{
//     padding: 1.34375em 0px;
// }