.flexcontainer {
  display: flex;
  height: 100%;
  padding: 15px;
  //   flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  .flexitem1 {
    flex: 33%;
    height: 100%;
    overflow: auto;
  }
  .flexitem2 {
    flex: 66%;
    height: 100%;
    overflow: auto;
  }
}
@media screen and (max-width: 968px) {
  .flexcontainer {
    flex-direction: column;
    overflow: auto;
  }
  .flexitem1,
  .flexitem2 {
    height: unset !important;
    // flex: none !important;
    // flex: 100% !important;
    overflow: unset !important;
  }
  .flexitem2 {
    margin-top: 20px;
  }
}
